<main class="container mb-5">
  <div class="page-header px-3 py-3 mx-auto text-center">
    <h1 class="display-4">Angular Bootcamp Jan-2021</h1>
    <p class="lead">In this Angular Bootcamp 2021, we are going to learn how to make professional web application development. We will start from the beginning level, but we will take our level at any enterprise level software development development knowledge.</p>
  </div>
  <app-data-box [title]="studentTitle" [dataBox]="studentList"></app-data-box>
  <app-data-box [title]="teacherTitle" [dataBox]="teacherList"></app-data-box>
</main>

